@model Register

@if (TempData["erroremail"] != null)
{
    <h5 style="color:red">@TempData["erroremail"] </h5>
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Reset Account Password</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Forgotpassword">

                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Enter your email address">
                            <label for="email">Email address</label>
                        </div>
                       
                        <button type="submit" class="btn btn-primary btn-block" style="width:100%">Reset Password</button>
                    </form>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-9aKj3gCtM3dJZTvct+EL2n1FJX9HgOyjKnsBwk1g7atldtQOlaVZ3Pqo3JVtEeIN" crossorigin="anonymous"></script>


